Nadia W. Morgen - Capstone Project
Notebook 1:  Data Imports & Cleanup

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

# Na'vi River Journey

In [2]:
# Navi River
navi = pd.read_csv('data/navi_river.csv')

In [3]:
navi.head()

         date             datetime  SACTMIN  SPOSTMIN
0  05/26/2017  2017-05-26 09:09:46      NaN    -999.0
1  05/26/2017  2017-05-26 09:10:12      NaN       5.0
2  05/26/2017  2017-05-26 09:17:09      NaN      45.0
3  05/26/2017  2017-05-26 09:24:07      NaN      45.0
4  05/26/2017  2017-05-26 09:30:10      NaN      45.0

In [4]:
navi.dtypes

date         object
datetime     object
SACTMIN     float64
SPOSTMIN    float64
dtype: object

In [5]:
# Convert data and datetime to datetime type (not object)

navi['date'] = pd.to_datetime(navi['date'])
navi['datetime'] = pd.to_datetime(navi['datetime'])

In [6]:
# Add column for day of the week
navi['weekday'] = navi['date'].dt.dayofweek

# Adjust index so Monday == 1
navi['weekday'] = navi['weekday'] + 1

navi['day_name'] = navi['date'].dt.day_name()

In [7]:
navi['day_name'] = navi.day_name.astype('string')

In [8]:
navi.head()

        date            datetime  SACTMIN  SPOSTMIN  weekday day_name
0 2017-05-26 2017-05-26 09:09:46      NaN    -999.0        5   Friday
1 2017-05-26 2017-05-26 09:10:12      NaN       5.0        5   Friday
2 2017-05-26 2017-05-26 09:17:09      NaN      45.0        5   Friday
3 2017-05-26 2017-05-26 09:24:07      NaN      45.0        5   Friday
4 2017-05-26 2017-05-26 09:30:10      NaN      45.0        5   Friday

In [9]:
navi.dtypes

date        datetime64[ns]
datetime    datetime64[ns]
SACTMIN            float64
SPOSTMIN           float64
weekday              int64
day_name            string
dtype: object

In [10]:
# Copy dataset before eliminating missing values
navi_orig = navi.copy()

In [11]:
# Deal with null values
# actl (SACTMIN) = actual wait time in minutes
navi_actl = navi.dropna(how='any', subset=['SACTMIN'])

In [12]:
navi_actl.shape

(2977, 6)

In [13]:
# posted = SPOSTMIN = posted wait times in minutes
navi_posted = navi.dropna(how='any', subset=['SPOSTMIN'])
navi_posted = navi_posted[navi_posted.SPOSTMIN != -999]

In [14]:
navi_posted.shape

(132596, 6)

In [82]:
# Set Date to index for DAILY analysis
navi_posted.set_index('date', inplace = True)
navi_actl.set_index('date', inplace = True)

In [16]:
navi_posted.head(2)

                      datetime  SACTMIN  SPOSTMIN  weekday day_name
date
2017-05-26 2017-05-26 09:10:12      NaN       5.0        5   Friday
2017-05-26 2017-05-26 09:17:09      NaN      45.0        5   Friday

In [69]:
navi_clean = navi.dropna(how='any', subset=['SPOSTMIN', 'SACTMIN'])
navi_clean = navi_clean[navi_clean.SPOSTMIN != -999]

In [70]:
navi_clean.shape

(0, 6)

For the Na'vi River Journey, I must work with actual wait times and posted wait times separately.

# Flight of Passage

In [17]:
# Flight of Passage
flight = pd.read_csv('data/flight_of_passage.csv')

In [18]:
# Convert data and datetime to datetime type (not object)

flight['date'] = pd.to_datetime(flight['date'])
flight['datetime'] = pd.to_datetime(flight['datetime'])

In [19]:
# Add column for day of the week
flight['weekday'] = flight['date'].dt.dayofweek

# Adjust index so Monday == 1
flight['weekday'] = flight['weekday'] + 1

flight['day_name'] = flight['date'].dt.day_name()

In [34]:
flight['day_name'] = flight.day_name.astype('string')

In [35]:
flight.dtypes

date        datetime64[ns]
datetime    datetime64[ns]
SACTMIN            float64
SPOSTMIN           float64
weekday              int64
day_name            string
dtype: object

In [21]:
flight_clean = flight.dropna(how='any', subset=['SPOSTMIN', 'SACTMIN'])
flight_clean = flight_clean[flight_clean.SPOSTMIN != -999]

In [22]:
flight_clean.shape

(0, 6)

For Flight of Passage, I must work with actual wait times and posted wait times separately.

In [23]:
flight_actl = flight.dropna(how='any', subset=['SACTMIN'])

In [24]:
flight_actl.shape

(3306, 6)

In [25]:
flight_posted = flight.dropna(how='any', subset=['SPOSTMIN'])
flight_posted = flight_posted[flight_posted.SPOSTMIN != -999]

In [26]:
flight_posted.shape

(135516, 6)

In [27]:
flight_posted.head()

        date            datetime  SACTMIN  SPOSTMIN  weekday day_name
2 2017-05-26 2017-05-26 09:10:12      NaN       5.0        5   Friday
3 2017-05-26 2017-05-26 09:17:09      NaN      60.0        5   Friday
4 2017-05-26 2017-05-26 09:24:07      NaN      60.0        5   Friday
5 2017-05-26 2017-05-26 09:30:10      NaN      60.0        5   Friday
6 2017-05-26 2017-05-26 09:38:10      NaN      45.0        5   Friday

In [76]:
# Set Date to index for DAILY analysis
flight_posted.set_index('date', inplace = True)
flight_actl.set_index('date', inplace = True)

# Kilimanjaro Safaris

In [28]:
# Kilimanjaro Safaris
safari = pd.read_csv('data/kilimanjaro_safaris.csv')

In [29]:
safari_clean = safari.dropna(how='any', subset=['SPOSTMIN', 'SACTMIN'])
safari_clean = safari_clean[safari_clean.SPOSTMIN != -999]

In [30]:
safari_clean.shape

(0, 4)

For Kilimanjaro Safaris, I must work with actual and posted wait times separately.

In [62]:
safari_actl = flight.dropna(how='any', subset=['SACTMIN'])

In [63]:
safari_actl.shape

(3306, 6)

In [31]:
safari_posted = safari.dropna(how='any', subset=['SPOSTMIN'])
safari_posted = safari_posted[safari_posted.SPOSTMIN != -999]

In [32]:
safari.shape

(218531, 4)

In [33]:
safari.head()

         date             datetime  SACTMIN  SPOSTMIN
0  01/01/2015  2015-01-01 07:47:26      NaN       5.0
1  01/01/2015  2015-01-01 07:54:23      NaN       5.0
2  01/01/2015  2015-01-01 08:05:33      NaN       5.0
3  01/01/2015  2015-01-01 08:12:23      NaN      10.0
4  01/01/2015  2015-01-01 08:19:26      NaN      10.0

In [36]:
safari.dtypes

date         object
datetime     object
SACTMIN     float64
SPOSTMIN    float64
dtype: object

In [40]:
# Convert data and datetime to datetime type (not object)

safari['date'] = pd.to_datetime(safari['date'])
safari['datetime'] = pd.to_datetime(safari['datetime'])

In [41]:
# Add column for day of the week
safari['weekday'] = safari['date'].dt.dayofweek

# Adjust index so Monday == 1
safari['weekday'] = safari['weekday'] + 1

safari['day_name'] = safari['date'].dt.day_name()

In [42]:
safari['day_name'] = safari.day_name.astype('string')

In [43]:
safari.head()

        date            datetime  SACTMIN  SPOSTMIN  weekday  day_name
0 2015-01-01 2015-01-01 07:47:26      NaN       5.0        4  Thursday
1 2015-01-01 2015-01-01 07:54:23      NaN       5.0        4  Thursday
2 2015-01-01 2015-01-01 08:05:33      NaN       5.0        4  Thursday
3 2015-01-01 2015-01-01 08:12:23      NaN      10.0        4  Thursday
4 2015-01-01 2015-01-01 08:19:26      NaN      10.0        4  Thursday

In [44]:
safari.dtypes

date        datetime64[ns]
datetime    datetime64[ns]
SACTMIN            float64
SPOSTMIN           float64
weekday              int64
day_name            string
dtype: object

In [77]:
safari_posted.set_index('date', inplace = True)
safari_actl.set_index('date', inplace = True)

# Expedition Everest

In [45]:
everest = pd.read_csv('data/expedition_everest.csv')

In [46]:
everest_clean = everest.dropna(how='any', subset=['SPOSTMIN', 'SACTMIN'])
everest_clean = everest_clean[everest_clean.SPOSTMIN != -999]

In [47]:
everest_clean.shape

(0, 4)

I must work with actual wait time and posted wait times separately, because of overlap of missing data.

In [49]:
everest_posted = everest.dropna(how='any', subset=['SPOSTMIN'])
everest_posted = everest_posted[everest_posted.SPOSTMIN != -999]

In [50]:
everest_posted.shape

(209635, 4)

In [65]:
everest_actl = everest.dropna(how='any', subset=['SACTMIN'])

In [66]:
everest_actl.shape

(5720, 6)

In [67]:
everest_actl.min()

date        2015-01-01 00:00:00
datetime    2015-01-01 08:39:58
SACTMIN                     0.0
SPOSTMIN                    NaN
weekday                       1
day_name                 Friday
dtype: object

In [52]:
everest.head()

         date             datetime  SACTMIN  SPOSTMIN
0  01/01/2015  2015-01-01 07:47:26      NaN       5.0
1  01/01/2015  2015-01-01 07:54:23      NaN       5.0
2  01/01/2015  2015-01-01 08:05:33      NaN       5.0
3  01/01/2015  2015-01-01 08:12:23      NaN       5.0
4  01/01/2015  2015-01-01 08:19:26      NaN       5.0

In [53]:
everest.dtypes

date         object
datetime     object
SACTMIN     float64
SPOSTMIN    float64
dtype: object

In [54]:
# Convert data and datetime to datetime type (not object)

everest['date'] = pd.to_datetime(everest['date'])
everest['datetime'] = pd.to_datetime(everest['datetime'])

In [55]:
# Add column for day of the week
everest['weekday'] = everest['date'].dt.dayofweek

# Adjust index so Monday == 1
everest['weekday'] = everest['weekday'] + 1

everest['day_name'] = everest['date'].dt.day_name()

In [56]:
everest['day_name'] = everest.day_name.astype('string')

In [57]:
everest.head()

        date            datetime  SACTMIN  SPOSTMIN  weekday  day_name
0 2015-01-01 2015-01-01 07:47:26      NaN       5.0        4  Thursday
1 2015-01-01 2015-01-01 07:54:23      NaN       5.0        4  Thursday
2 2015-01-01 2015-01-01 08:05:33      NaN       5.0        4  Thursday
3 2015-01-01 2015-01-01 08:12:23      NaN       5.0        4  Thursday
4 2015-01-01 2015-01-01 08:19:26      NaN       5.0        4  Thursday

In [78]:
everest_posted.set_index('date', inplace = True)
everest_actl.set_index('date', inplace = True)

In [58]:
everest.dtypes

date        datetime64[ns]
datetime    datetime64[ns]
SACTMIN            float64
SPOSTMIN           float64
weekday              int64
day_name            string
dtype: object

In [83]:
navi_posted.to_csv('data/navi_posted.csv', index=True)
flight_posted.to_csv('data/flight_posted.csv', index=True)
safari_posted.to_csv('data/safari_posted.csv', index=True)
everest_posted.to_csv('data/everest_posted.csv', index=True)

navi_actl.to_csv('data/navi_actl.csv', index=True)
flight_actl.to_csv('data/flight_actl.csv', index=True)
safari_actl.to_csv('data/safari_actl.csv', index=True)
everest_actl.to_csv('data/everest_actl.csv', index=True)

Next Notebook: EDA: Notebook 2